<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Блокнот</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="style.css" rel="stylesheet">
  <!--[if IE]>
   <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
 </head>
 <body >
  <header>
  
  </header>
  <div  id="app">
	  <div class="row">
		<div class="col-md-2 center">
			<h1>Блокнот</h1>
		</div>
		<div class="col-md-10">
			<h2>{{title}}</h2>
		</div>
	  </div>
	  <div class="row">
		<div class="col-md-2 center">
            <button class="btn btn-info"
					@click="addRecord"
			>Добавить</button><br/>
			<ol class="records-list">
				<li v-for="record in records" 
					class="record"
					@click="editRecord(record)">
					{{record.title}}
				</li>
			</ol>
			
		</div>
		<div class="col-md-10 border-left-0">
			<input type="text" class="form-control" v-model="RecordTitle" placeholder="Заголовок заметки"/><br/>
			<textarea class="form-control" v-model="RecordMessage" placeholder="Тест заметки" rows="20" >Писать тут</textarea><br>
            <div class="row width97">
				<button class="btn btn-success fl-right mn-left"
					@click="saveRecord(editedRecord)"
				>Сохранить</button>
				<button class="btn btn-primary fl-right mn-left"
					@click="deleteRecord(editedRecord)"
				>Удалить</button>
			</div>
		</div>
	  </div>
  </div>
  
  
  <footer>
  
  </footer>
  
  
  
  <!-- зона скриптов -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="script.js"></script>
 </body>
</html>